/* TODO: Add sitewide styles */
body {
    font-family: Helvetica Neue, Arial, sans-serif;
    background-color: #fafafa;
    color: black
}

button {
    background-color: rgb(49, 169, 53);
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    background-color: #fafafa;
}



    .header-profile {
        display: flex;
        background-color: #fafafa;
        align-items: baseline;
    }




        /* .biz-card {
            width: 30%;
            height: fit-content;
            background-color: rgb(69, 62, 55);
            display: flex;
            flex-direction: column;
        }

            .biz-card-image-container {
                width: 100%;
                height: 50%;
            }

            .biz-card-image-container > image {
                width:90%;
                height: 90%;
                object-fit: cover;
            } */